<div id="quiz-main-info">
	<%= f.file_field :image, :id => "quiz-image-input" %>
	<div id="quiz-image-preview" class="image-preview" style="background-image: url(<%= @quiz.image_url(:square) if @quiz %>);" alt="preview failed to load" class="hidden" src="<%= (@quiz.image_url || '#') if @quiz %>"></div> 
	<div class="image-input-overlay">
		Click to Add Image
	</div>
	
	<div id="quiz-text-info">
		<div class="char-countable">
			<%= f.text_field :title, :class => "btn", placeholder: "Title", maxlength: 80 %>
			<p class="char-count single-row">80</p>
		</div>
		
		<%= f.text_area :description, :class => "btn", placeholder: "Description" %>
	</div>
</div>