<div class="content-container main-container no-banner">
	
	<div class="page-title-container">
		<h1 class="page-title"><%= @quiz_type.upcase %></h1>
		<%= link_to "/quizzes/new_#{@quiz_type}" do %>
			<div class="create-quiz-type btn">Create</div>
		<% end %>
	</div>
	
	<div class="quizzes-content">
	 	<div class="section-label">
	 		<%= image_tag "editors-picks.svg", :class => "section-icon" %>
	 		<span>Editor's Picks</span>
	 		<div class="divider"></div>
	 	</div>
	 	<div class="quizzes-section card-view">
	 		<% @editors_picks.each do |quiz| %>
	 			<%= link_to quiz_path(quiz) do %>
		 			<div class="quiz-card">
		 				<%= image_tag quiz.image_url, :class => "quiz-image" %>
		 				<div class="quiz-info">
		 					<div class="quiz-title"><%= quiz.title %></div>
		 					<div class="quiz-sub-info">
		 						<div class="quiz-user">
		 							<%= image_tag quiz.user.profile_pic %>
		 							<p><%= quiz.user.name %></p>
		 						</div>
		 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
		 					</div>
		 				</div>
		 			</div>
		 		<% end %>
	 		<% end %>
	 	</div>


	 	<div id="main-content">
		 	<div class="quizzes-section list-view">
			 	<div class="sort-bar">
					<p>Sort by:</p>
					<p>Publish Date</p>
					<p>Name</p>
					<p>Creation Date</p>
				</div>
		 		<% @quizzes.each do |quiz| %>
		 			<%= link_to quiz_path(quiz) do %>
			 			<div class="quiz-list-item">
			 				<%= image_tag quiz.image_url, :class => "quiz-image" %>
			 				<div class="quiz-info">
			 					<div class="quiz-title"><%= quiz.title %></div>
			 					<div class="quiz-sub-info">
			 						<div class="quiz-user">
			 							<%= image_tag quiz.user.profile_pic %>
			 							<p><%= quiz.user.name %></p>
			 						</div>
			 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
			 					</div>
			 				</div>
			 			</div>
			 		<% end %>
		 		<% end %>
		 		<div class="bottom-ads">
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
				</div>
		 	</div>
		 	<div class="side-content">
				<div id="ad1" class="side-ad"></div>
			</div>
		 </div>
	 </div>
</div>