<div class="content-container main-container no-banner">
	
	<div class="page-title-container">
		<h1 class="page-title"><%= @quiz_type.upcase %></h1>
		<%= link_to "/quizzes/new/#{@quiz_type}" do %>
			<div class="create-quiz-type btn">Create</div>
		<% end %>
	</div>
	
	<div class="quizzes-content">
	 	<div class="section-label">
	 		<%= image_tag "editors-picks.svg", :class => "section-icon" %>
	 		<span>Editor's Picks</span>
	 		<div class="divider"></div>
	 	</div>
	 	<div class="quizzes-section card-view">
	 		<% @editors_picks.each do |quiz| %>
	 			<%= link_to quiz_path(quiz) do %>
		 			<div class="quiz-card">
		 				<%= image_tag quiz.image_url(:card), :class => "quiz-image" %>
		 				<div class="quiz-info">
		 					<div class="quiz-title"><%= quiz.title %></div>
		 					<div class="quiz-sub-info">
		 						<div class="quiz-user">
		 							<%= image_tag profile_pic(quiz.user) %>
		 							<p><%= quiz.user.name %></p>
		 						</div>
		 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
		 					</div>
		 				</div>
		 			</div>
		 		<% end %>
	 		<% end %>
	 	</div>


	 	<div id="main-content">
		 	<div class="quizzes-section list-view">
			 	<div class="sort-bar">
					<p class="label">Sort by:</p>
					<p sort-name="vc">Popular</p>
					<p sort-name="n">Trending</p>
					<p sort-name="pd" class="selected">New</p>
				</div>

				<div class="sortable">
			 		<% @quizzes.each do |quiz| %>
			 			<%= link_to quiz_path(quiz), :class => "sort-item", publish_date: (quiz.publish_date.to_i), creation_date: (quiz.created_at.to_i), view_count: (quiz.view_count) do %>
				 			<div class="quiz-list-item">
				 				<%= image_tag quiz.image_url(:square), :class => "quiz-image" %>
				 				<div class="quiz-info">
				 					<div class="quiz-title"><%= quiz.title %></div>
				 					<div class="quiz-sub-info">
				 						<div class="quiz-user">
				 							<%= image_tag profile_pic(quiz.user) %>
				 							<p><%= quiz.user.name %></p>
				 						</div>
				 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
				 					</div>
				 				</div>
				 			</div>
				 		<% end %>
			 		<% end %>
			 	</div>
			 	<div id="page-controls">
		 			<%= link_to params.permit(:page).merge(:page => @page - 1) do %>
		 				<% if @page > 1 %>
		 					<div class="page-prev page-btn btn"><p>Previous</p></div>
		 				<% end %>
		 			<% end %>
		 			<p class="page-number">Page <%= @page %></p>
		 			<%= link_to params.permit(:page).merge(:page => @page + 1) do %>
		 				<div class="page-next page-btn btn"><p>Next</p></div>
		 			<% end %>
		 		</div>
		 		<div class="bottom-ads">
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
					<div class="bottom-ad"></div>
				</div>
		 	</div>
		 	<div class="side-content">
				<div id="ad1" class="side-ad"></div>
			</div>
		 </div>
	 </div>
</div>