<div class="content-container main-container no-banner browse-container">
	
	<div class="page-title-container">
		<h1 class="page-title"><%= @quiz_type.upcase %></h1>
		<%= link_to "/quizzes/new/#{@quiz_type}" do %>
			<div class="create-quiz-type btn">Create</div>
		<% end %>
	</div>
	
	<div class="quizzes-content">
	 	<div class="section-label">
	 		<%= image_tag "editors-picks.svg", :class => "section-icon" %>
	 		<span>Editor's Picks</span>
	 		<div class="divider"></div>
	 	</div>
	 	<div class="quizzes-section card-view">
	 		<% @editors_picks.each do |quiz| %>
	 			<%= link_to quiz_path(quiz) do %>
		 			<div class="quiz-card">
		 				<div class="quiz-image img" style="background-image: url(<%=(quiz.image_url(:square)) %>)"></div>
		 				<div class="quiz-info">
		 					<div class="quiz-title"><%= quiz.title %></div>
		 					<div class="quiz-sub-info">
		 						<div class="quiz-user">
		 							<%= image_tag profile_pic(quiz.user) %>
		 							<p><%= quiz.user.name %></p>
		 						</div>
		 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
		 					</div>
		 				</div>
		 			</div>
		 		<% end %>
	 		<% end %>
	 	</div>


	 	<div id="main-content">
		 	<div class="quizzes-section list-view">
			 	<div class="sort-bar">
					<p class="label">Sort by:</p>
					<%= link_to params.permit(:page, :sorted_by).merge(:page => @page, sorted_by: "trending") do %>
						<p class="<%= 'selected' if @sort == 'trending' %>">Trending</p>
					<% end %>
					<%= link_to params.permit(:page, :sorted_by).merge(:page => @page, sorted_by: "popular") do %>
						<p class="<%= 'selected' if @sort == 'popular' %>">Popular</p>
					<% end %>
					<%= link_to params.permit(:page, :sorted_by).merge(:page => @page, sorted_by: "new") do %>
						<p class="<%= 'selected' if @sort == 'new' %>">New</p>
					<% end %>
				</div>

				<div class="sortable">
			 		<% @quizzes.each do |quiz| %>
			 			<%= link_to quiz_path(quiz), :class => "sort-item" do %>
				 			<div class="quiz-list-item">
				 				<div class="quiz-image img" style="background-image: url(<%=(quiz.image_url(:square)) %>)"></div>
				 				<div class="quiz-info">
				 					<div class="quiz-title"><%= quiz.title %></div>
				 					<div class="quiz-sub-info">
				 						<div class="quiz-user">
				 							<%= image_tag profile_pic(quiz.user) %>
				 							<p><%= quiz.user.name %></p>
				 						</div>
				 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
				 					</div>
				 				</div>
				 			</div>
				 		<% end %>
			 		<% end %>
			 	</div>
			 	<div id="page-controls">
		 			<%= link_to params.permit(:page, :sorted_by).merge(:page => @page - 1, :sorted_by => @sort) do %>
		 				<% if @page > 1 %>
		 					<div class="page-prev page-btn btn"><p>Previous</p></div>
		 				<% end %>
		 			<% end %>
		 			<p class="page-number">Page <%= @page %></p>
		 			<%= link_to params.permit(:page, :sorted_by).merge(:page => @page + 1, :sorted_by => @sort) do %>
		 				<% unless @last_page %>
		 					<div class="page-next page-btn btn"><p>Next</p></div>
		 				<% end %>
		 			<% end %>
		 		</div>
		 		<div class="bottom-ads">
					<%= render partial: "ads/outbrain_bottom" %>
				</div>
		 		<div class="bottom-ads">
					<%= render partial: "ads/row" %>
				</div>
		 	</div>
		 	<div class="side-content">
				<div id="ad1" class="side-ad">
					<%= render partial: "ads/col_tall_1" %>
				</div>
			</div>
		 </div>
	 </div>
</div>