<div class="content-container main-container home-container">
 <div id="banner">
 	<h1>Take Quizzes, Make Your Own, Have Fun</h1>
 	<div id="get-started" class="btn"><p class="get-started-text">Get Started</p> <%= image_tag "navbar/arrow-create.svg", :class => "dropdown-arrow" %>
 		<div class="bridge"></div>
 		<div class="dropdown creation-dropdown">
			<%= link_to new_quiz_quiz_path do %>
				<div class="creation">
					<p>Quiz</p>	
					<div class="plus-btn">
						<%= image_tag "add-answer-plus.svg", :class => "svg" %>
					</div>
				</div>
			<% end %>
			<%= link_to new_list_path do %>
				<div class="creation">
					<p>List</p>
					<div class="plus-btn">
						<%= image_tag "add-answer-plus.svg", :class => "svg" %>
					</div>
				</div>
			<% end %>
			<%= link_to new_flipcard_path do %>
				<div class="creation">
					<p>Flip Card</p>	
					<div class="plus-btn">
						<%= image_tag "add-answer-plus.svg", :class => "svg" %>
					</div>
				</div>
			<% end %>
			<%= link_to new_trivia_path do %>
				<div class="creation">
					<p>Trivia</p>
					<div class="plus-btn">
						<%= image_tag "add-answer-plus.svg", :class => "svg" %>
					</div>
				</div>
			<% end %>	
		</div>

 	</div>
 </div>		
	<div class="quizzes-content">
	 	<div class="section-label">
	 		<%= image_tag "editors-picks.svg", :class => "section-icon" %>
	 		<span>Editor's Picks</span>
	 		<div class="divider"></div>
	 	</div>
	 	<div class="quizzes-section card-view">
	 		<% Quiz.editors_picks.each do |quiz| %>
	 			<%= link_to quiz_path(quiz) do %>
		 			<div class="quiz-card">
		 				<div class="quiz-image img" style="background-image: url(<%= quiz.image_url(:square) %>)"></div>
		 				
		 				<div class="quiz-info">
		 					<div class="quiz-title"><%= quiz.title %></div>
		 					<div class="quiz-sub-info">
		 						<div class="quiz-user">
		 							<%= image_tag profile_pic(quiz.user) %>
		 							<p><%= quiz.user.name %></p>
		 						</div>
		 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
		 					</div>
		 				</div>
		 			</div>
		 		<% end %>
	 		<% end %>
	 	</div>
	 	<div class="section-label">
	 		<%= image_tag "featured.svg", :class => "section-icon" %>
	 		<span>Featured</span>
	 		<div class="divider"></div>
	 	</div>

	 	<div id="main-content">
		 	<div class="quizzes-section list-view">
		 		<% Quiz.featured.each do |quiz| %>
		 			<%= link_to quiz_path(quiz) do %>
			 			<div class="quiz-list-item">
			 				<div class="quiz-image img" style="background-image: url(<%= quiz.image_url(:square) %>)"></div>
			 				<div class="quiz-info">
			 					<div class="quiz-title"><%= quiz.title %></div>
			 					<div class="quiz-sub-info">
			 						<div class="quiz-user">
			 							<%= image_tag profile_pic(quiz.user) %>
			 							<p><%= quiz.user.name %></p>
			 						</div>
			 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
			 					</div>
			 				</div>
			 			</div>
			 		<% end %>
		 		<% end %>
		 		<div id="load-more" class="btn">
		 			Load More
		 		</div>
		 	</div>
		 	<div class="side-content">
				<div class="recommendations">
					<h3 class="red-text">TRENDING</h3>
					<% @trending.each_with_index do |rec, i| %>
						<%= link_to quiz_path(rec) do %>
							<div class="side-quiz">
								<div class="quiz-number">
									<p><%= i + 1 %></p>
								</div>
								<div class="img" style="background-image: url(<%= rec.image_url %>)"></div>
								<p><%= rec.title %></p>
							</div>
						<% end %>		
					<% end %>
				</div>
			</div>
		 </div>
	 </div>
</div>