<div class="content-container main-container home-container">
 <div id="banner">
 	<h1>Take Quizzes, Make Your Own, Have Fun</h1>
 	<div id="get-started" class="btn"><p>Get Started</p> <%= image_tag "navbar/arrow-create.svg", :class => "dropdown-arrow" %></div>
 </div>		


	<div class="quizzes-content">
	 	<div class="section-label">
	 		<%= image_tag "editors-picks.svg", :class => "section-icon" %>
	 		<span>Editor's Picks</span>
	 		<div class="divider"></div>
	 	</div>
	 	<div class="quizzes-section card-view">
	 		<% Quiz.editors_picks.each do |quiz| %>
	 			<%= link_to quiz_path(quiz) do %>
		 			<div class="quiz-card">
		 				<%= image_tag quiz.image_url(:card), :class => "quiz-image" %>
		 				<div class="quiz-info">
		 					<div class="quiz-title"><%= quiz.title %></div>
		 					<div class="quiz-sub-info">
		 						<div class="quiz-user">
		 							<%= image_tag quiz.user.profile_pic %>
		 							<p><%= quiz.user.name %></p>
		 						</div>
		 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
		 					</div>
		 				</div>
		 			</div>
		 		<% end %>
	 		<% end %>
	 	</div>
	 	<div class="section-label">
	 		<%= image_tag "featured.svg", :class => "section-icon" %>
	 		<span>Featured</span>
	 		<div class="divider"></div>
	 	</div>

	 	<div id="main-content">
		 	<div class="quizzes-section list-view">
		 		<% Quiz.featured.each do |quiz| %>
		 			<%= link_to quiz_path(quiz) do %>
			 			<div class="quiz-list-item">
			 				<%= image_tag quiz.image_url(:square), :class => "quiz-image" %>
			 				<div class="quiz-info">
			 					<div class="quiz-title"><%= quiz.title %></div>
			 					<div class="quiz-sub-info">
			 						<div class="quiz-user">
			 							<%= image_tag quiz.user.profile_pic %>
			 							<p><%= quiz.user.name %></p>
			 						</div>
			 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
			 					</div>
			 				</div>
			 			</div>
			 		<% end %>
		 		<% end %>
		 	</div>
		 	<div class="side-content">
				<div class="recommendations">
					<h3 class="red-text">TRENDING</h3>
					<% Quiz.all.limit(6).each_with_index do |rec, i| %>
						<%= link_to quiz_path(rec) do %>
							<div class="side-quiz">
								<div class="quiz-number">
									<p><%= i + 1 %></p>
								</div>
								<%= image_tag rec.image_url(:sidebar) %>
								<p><%= rec.title %></p>
							</div>
						<% end %>		
					<% end %>
				</div>
			</div>
		 </div>
	 </div>



</div>