<div class="content-container quiz-form-container result-oriented-quiz">
	<h1 class="super-bold">Create a New Quiz</h1>

	<%= form_for Quiz.new do |f| %>
		<%= f.hidden_field :quiz_type, value: "personality" %>
		<div id="quiz-main-info">
			<%= f.file_field :image, :id => "quiz-image-input", required: true %>
			<img id="quiz-image-preview" class="image-preview" src="#" alt="preview failed to load" class="hidden" /> 
			<div class="image-input-overlay">
				Click to Add Image
			</div>
			
			<div id="quiz-text-info">
				<%= f.text_field :title, :class => "btn", placeholder: "Title", required: true %>
				<%= f.text_area :description, :class => "btn", placeholder: "Description", required: true %>
			</div>
		</div>

		<h2 class="super-bold content-title">Add Results</h2>

		<div class="form-box results-box">
			<div class="form-results show-add-result">
				<div class="form-result image-and-text-box">
					<%= image_tag "close-box.svg", :class => "close-result closer" %>
					<%= text_area_tag "result_1[result_text]", nil, :class => "result-text-input", placeholder: "Answer text..." %>
					<div class="image-input">Click to add image...</div>
					<%= file_field_tag "result_1[image]", :class => "result-image-input" %>
					<img class="result-image-preview image-preview" src="#" alt="preview failed to load" />
					<%= text_field_tag "result_1[image_credit]", nil, :class => "result-image-credit-input", placeholder: "Image Credit..." %>
				</div>
				<div class="add-result">
						<div class="btn">Add Result</div>
				</div>
			</div>	
		</div>
		
		<h2 class="super-bold content-title">Add Questions</h2>
			<div class="form-box question">
				<%= image_tag "close-box.svg", :class => "close-question closer" %>
				<h3 class=" question-number">Question 1</h3>
				
				<class class="box-field ">
					<label class="box-label">Question Image</label>
					<%= image_tag "close-box.svg", :class => "close-question closer" %>
					<div class="box-input question-image-input">Click to add image...</div>
					<%= file_field_tag "quiz_item_1[image]", :class => "question-image-input" %>
					<img class="question-image-preview image-preview" src="#" alt="preview failed to load" />
				</class>
				<class class="box-field ">
					<label class="box-label">Question</label>
					<%= text_field_tag "quiz_item_1[item_text]", nil, :class => "box-input" %>
				</class>
				<class class="box-field ">
					<label class="box-label">Image Credit</label>
					<%= text_field_tag "quiz_item_1[image_credit]", nil, :class => "box-input" %>
				</class>
				<div class="divider"></div>
				<h3 class="answer-header">Answers</h3>

				<div class="box-field">
					<label class="box-label">Answer Format</label>
					<div class="answer-format-selection">
						<%= image_tag "image-format.svg", :class => "image-format answer-format", format_type: "image" %>
						<%= image_tag "image-format-selected.svg", :class => "image-format selected answer-format", format_type: "image" %>
						<%= image_tag "text-format.svg", :class => "text-format answer-format", format_type: "text" %>
						<%= image_tag "text-format-selected.svg", :class => "text-format answer-format selected", format_type: "text" %>
					</div>
				</div>

				<div class="form-answers image-style">
					<div class="form-answer image-and-text-box">
						<%= image_tag "close-box.svg", :class => "close-answer closer" %>
						<div class="image-input">Click to add image...</div>
						<%= file_field_tag "quiz_item_1_item_answer_1[image]", :class => "answer-image-input" %>
						<img class="answer-image-preview image-preview" src="#" alt="preview failed to load" />
						<%= text_area_tag "quiz_item_1_item_answer_1[answer_text]", nil, :class => "answer-text-input", placeholder: "Answer text..." %>
						<%= text_field_tag "quiz_item_1_item_answer_1[image_credit]", nil, :class => "answer-image-credit-input", placeholder: "Image Credit..." %>
						<%= select_tag "quiz_item_1_item_answer_1[result_id]", "<option disabled='disabled' selected='selected'>Assign a Result</option><option value='0'>Result 1</option>".html_safe %>
					</div>
					<div class="add-answer">
						<%= image_tag "add-answer.svg", :class => "add-answer-btn" %>
						<p>Add Answer</p>
					</div>
				</div>
			</div>
		<div id="add-question" class="btn">
			Add Question
		</div>

		<div id="submit-bar">
			<div id="submit-bar-content">
				<div id="preview-quiz" class="btn">
					Preview
				</div>
				<div id="submit-actions">
					<div id="save-quiz" class="btn">Save</div>
					<%= f.submit 'Publish', id: "publish-quiz", :class => "btn" %>
				</div>
			</div>
		</div>
	<% end %>
</div>
