<div class="content-container quiz-form-container trivia-oriented-quiz">
	<h1 class="super-bold">Create a New Trivia</h1>

	<%= form_for Quiz.new do |f| %>
		<%= f.hidden_field :quiz_type, value: "trivia" %>
		<%= render partial: "new", locals: {f: f} %>
		<%= render partial: "quiz_items/new", locals: {quiz_type: "trivia"} %>
		<%= render partial: "results/new", locals: {result_type: "trivia"} %>
		<%= render partial: "submit_bar", locals: {f: f} %>
	<% end %>
</div>
<div id="mobile-container">
    <p>Access this page on a larger screen to create quizzes!</p>
    <%= link_to root_path do %>
        <div class="btn">Take Me Home!</div>
    <% end %>
</div>