<div id="banner-ad"></div>

<div class="content-container quiz-take <%= @quiz.quiz_type %>">
	<div class="quiz-main">
		<h1 class="quiz-title"><%= @quiz.title %></h1>
		<p class="quiz-description"><%= @quiz.description %></p>
		<div class="quiz-info">
			
				<div class="quiz-user">
					<%= link_to user_path(@quiz.user) do %>
						<%= image_tag profile_pic(@quiz.user), :class => "quiz-user-profile_pic" %>
					<% end %>
					<%= link_to user_path(@quiz.user) do %>
						<p class="quiz-user-name"><%= @quiz.user.name %></p>
					<% end %>
				</div>
			<div class="quiz-subinfo">
				<p class="quiz-date"><%= format_date_simple(@quiz.created_at) %></p>
				<p class="quiz-type"><%= @quiz.quiz_type.upcase %></p>
			</div>
			<div class="social-medias">
				<div class="social-media fb-blue-bg"><%= image_tag "fb.svg" %></div>
				<div class="social-media tw-blue-bg"><%= image_tag "twitter.svg" %></div>
				<div class="social-media pinterest-red-bg"><%= image_tag "pinterest.svg" %></div>
				<div class="social-media blue-bg"><p>Link</p></div>
				<div class="social-media black-bg"><p>Embed</p></div>
			</div>
		</div>
		<div class="items">
			<% if @quiz_type != "list" %>
				<% @quiz.quiz_items.order(:order).each_with_index do |item, i| %>
					<%= render partial: "quiz_items/show", locals: {item: item, i: i} %>
				<% end %>
			<% else %>
				<%= render partial: "quiz_items/show", locals: {item: @item, i: @page - 1} %>
			<% end %>
		</div>
		<% if !@quiz.results.empty? %>
			<% @quiz.results.order(:id).each do |result| %>
				<div class="result" range-min="<%= result.range_min %>" range-max="<%= result.range_max %>" result-id="<%= result.id %>">
					<p class="score <%= @quiz.quiz_type %>"><span class="score-number"></span> CORRECT</p>
					<p><%= result.result_text %></p>
					<% if result.image.present? %>
						<%= image_tag result.image_url(:item), :class => "result-image" %>
					<% end %>
					<p class="result-social-message">Share your Result!</p>
					<div class="social-medias">
						<div class="social-media fb-blue-bg"><%= image_tag "fb.svg" %></div>
						<div class="social-media tw-blue-bg"><%= image_tag "twitter.svg" %></div>
						<div class="social-media pinterest-red-bg"><%= image_tag "pinterest.svg" %></div>
						<div class="social-media blue-bg"><p>Link</p></div>
						<div class="social-media black-bg"><p>Embed</p></div>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="result sharer">
				<p class="result-social-message">Share this <%= @quiz.quiz_type.capitalize %></p>
				<div class="social-medias">
					<div class="social-media fb-blue-bg"><%= image_tag "fb.svg" %></div>
					<div class="social-media tw-blue-bg"><%= image_tag "twitter.svg" %></div>
					<div class="social-media pinterest-red-bg"><%= image_tag "pinterest.svg" %></div>
					<div class="social-media blue-bg"><p>Link</p></div>
					<div class="social-media black-bg"><p>Embed</p></div>
				</div>
			</div>
		<% end %>
		<% if @quiz_type == "list" %>
			<div id="page-controls">
	 			<%= link_to params.permit(:page, :terms).merge(:page => @page - 1, terms: @terms) do %>
	 				<% if @page > 1 %>
	 					<div class="page-prev page-btn btn"><p>Previous</p></div>
	 				<% end %>
	 			<% end %>
	 			<p class="page-number">Page <%= @page %></p>
	 			<% if @page == @quiz.quiz_items.count %>
	 				<%= link_to quiz_path(Quiz.where(quiz_type: "list").shuffle.first) do %>
		 				<div class="page-next page-btn btn"><p>Next List</p></div>
		 			<% end %>
	 			<% else %>
		 			<%= link_to params.permit(:page, :terms).merge(:page => @page + 1, terms: @terms) do %>
		 				<div class="page-next page-btn btn"><p>Next</p></div>
		 			<% end %>
		 		<% end %>
	 		</div>
	 	<% end %>
	</div>
	<div class="side-content">
		<div id="ad1" class="side-ad"></div>
		<div class="divider"></div>
		<div class="recommendations">
			<h3>Recommended</h3>
			<% Quiz.all.limit(6).each do |rec| %>
				<%= link_to quiz_path(rec) do %>
					<div class="side-quiz">
						<%= image_tag rec.image_url(:sidebar) %>
						<p><%= rec.title %></p>
					</div>
				<% end %>
				
			<% end %>
		</div>
		<div class="divider"></div>
		<div id="add2" class="side-ad"></div>
	</div>
</div>

