<div id="banner-ad"></div>

<div class="content-container quiz-take <%= @quiz.quiz_type %>">
	<div class="quiz-main">
		<h1 class="quiz-title"><%= @quiz.title %></h1>
		<p class="quiz-description"><%= @quiz.description %></p>
		<div class="quiz-info">
			
				<div class="quiz-user">
					<%= link_to user_path(@quiz.user) do %>
						<%= image_tag profile_pic(@quiz.user), :class => "quiz-user-profile_pic" %>
					<% end %>
					<%= link_to user_path(@quiz.user) do %>
						<p class="quiz-user-name"><%= @quiz.user.name %></p>
					<% end %>
				</div>
			<div class="quiz-subinfo">
				<p class="quiz-date"><%= format_date_simple(@quiz.created_at) %></p>
				<p class="quiz-type"><%= @quiz.quiz_type.upcase %></p>
			</div>
			<div class="social-medias">
				<div class="social-media fb-blue-bg fb"><%= image_tag "fb.svg" %></div>
				<div class="social-media tw-blue-bg tw"><%= image_tag "twitter.svg" %></div>
				<a href="https://www.pinterest.com/pin/create/button/" data-pin-custom="true" data-pin-media="<%= @quiz.image_url%>" data-pin-description="<%= @quiz.description %>" data-pin-url="<%= quiz_url(@quiz) %>" class="social-media pinterest-red-bg pinterest">
					<%= image_tag "pinterest.svg" %>
				</a>
				<div class="link-box">
					<%= text_field_tag :link, quiz_url(@quiz) %>
				</div>
				<div class="social-media blue-bg link"><p>Link</p></div>
			</div>
		</div>
		<% if @quiz_type == "quiz" %>
			<%= render partial: "starter" %>
		<% end %>
		<div class="items">
			<% if @quiz_type != "list" %>
				<% @quiz.quiz_items.order(:order).each_with_index do |item, i| %>
					<%= render partial: "quiz_items/show", locals: {item: item, i: i} %>
				<% end %>
			<% else %>
				<% @items.each_with_index do |item, i| %>
					<%= render partial: "quiz_items/show", locals: {item: item, i: i + @offset_start} %>
				<% end %>
			<% end %>
		</div>
		<% if @quiz_type == "list" %>
			<div id="page-controls">
	 			<%= link_to params.permit(:page, :terms).merge(:page => @page - 1, terms: @terms) do %>
	 				<% if @page > 1 %>
	 					<div class="page-prev page-btn btn"><p>Previous</p></div>
	 				<% end %>
	 			<% end %>
	 			<p class="page-number">Page <%= @page %></p>
	 			<% if @page == ((@quiz.quiz_items.count / 5.0).ceil) %>
	 				<%= link_to quiz_path(random_quiz) do %>
		 				<div class="page-next page-btn btn list-next"><p>Next List</p></div>
		 			<% end %>
	 			<% else %>
		 			<%= link_to params.permit(:page, :terms).merge(:page => @page + 1, terms: @terms) do %>
		 				<div class="page-next page-btn btn"><p>Next</p></div>
		 			<% end %>
		 		<% end %>
	 		</div>
	 	<% end %>
		<% if !@quiz.results.empty? %>
			<% @quiz.results.order(:id).each do |result| %>
				<div class="result" range-min="<%= result.range_min %>" range-max="<%= result.range_max %>" result-id="<%= result.id %>">
					<p class="score <%= @quiz.quiz_type %>"><span class="score-number"></span> CORRECT</p>
					<p><%= result.result_text %></p>
					<% if result.image.present? %>
						<%= image_tag result.image_url(:item), :class => "result-image" %>
					<% end %>
					<p class="result-social-message">Share your Result!</p>
					<div class="social-medias">
						<div class="social-media fb-blue-bg fb"><%= image_tag "fb.svg" %></div>
						<div class="social-media tw-blue-bg tw"><%= image_tag "twitter.svg" %></div>
						<div class="social-media pinterest-red-bg pinterest"><%= image_tag "pinterest.svg" %></div>
						<div class="link-box">
							<%= text_field_tag :link, quiz_url(@quiz) %>
						</div>
						<div class="social-media blue-bg link"><p>Link</p></div>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="result sharer">
				<p class="result-social-message">Share this <%= @quiz.quiz_type.capitalize %></p>
				<div class="social-medias">
					<div class="social-media fb-blue-bg fb"><%= image_tag "fb.svg" %></div>
					<div class="social-media tw-blue-bg tw"><%= image_tag "twitter.svg" %></div>
					<div class="social-media pinterest-red-bg pinterest"><%= image_tag "pinterest.svg" %></div>
					<div class="link-box">
						<%= text_field_tag :link, quiz_url(@quiz) %>
					</div>
					<div class="social-media blue-bg link"><p>Link</p></div>
				</div>
			</div>
		<% end %>
	</div>
	<div class="side-content">
		<div id="ad-1" class="side-ad"></div>
		<div class="divider" id="divider-1"></div>
		<div class="recommendations">
			<h3>Recommended</h3>
			<% Quiz.all.limit(6).each do |rec| %>
				<%= link_to quiz_path(rec) do %>
					<div class="side-quiz">
						<%= image_tag rec.image_url(:sidebar) %>
						<p><%= rec.title %></p>
					</div>
				<% end %>	
			<% end %>
		</div>
		<div class="divider" id="divider-2"></div>
		<div id="ad-2" class="side-ad"></div>
	</div>
</div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '919320708203651',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<% if @quiz.is_preview? %>
	<script>
	  history.pushState({state:1}, "Preview", "/quiz-preview")
	</script>
<% end %>
