<div class="content-container quiz-take <%= @quiz.quiz_type %>">
	<div class="quiz-main">
		<h1 class="quiz-title"><%= @quiz.title %></h1>
		
		<%= render partial: "ads/under_title" %>
		<p class="quiz-description"><%= @quiz.description %></p>
		<div class="quiz-info">
			
				<div class="quiz-user">
					<%= link_to user_path(@quiz.user) do %>
						<%= image_tag profile_pic(@quiz.user), :class => "quiz-user-profile_pic" %>
					<% end %>
					<%= link_to user_path(@quiz.user) do %>
						<p class="quiz-user-name"><%= @quiz.user.name %></p>
					<% end %>
				</div>
			<div class="quiz-subinfo">
				<p class="quiz-date"><%= format_date_simple(@quiz.publish_date) %></p>
				<p class="quiz-type"><%= @quiz.quiz_type.upcase %></p>
			</div>
			<div class="social-medias">
				<div class="social-media fb-blue-bg fb"><%= image_tag "fb.svg" %></div>
				<div class="social-media tw-blue-bg tw"><%= image_tag "twitter.svg" %></div>
				<a href="https://www.pinterest.com/pin/create/button/" data-pin-custom="true" data-pin-media="<%= @quiz.image_url%>" data-pin-description="<%= @quiz.title %>" data-pin-url="<%= quiz_url(@quiz) %>" class="social-media pinterest-red-bg pinterest" target="_blank">
					<%= image_tag "pinterest.svg" %>
				</a>
				<div class="link-box">
					<%= text_field_tag :link, quiz_url(@quiz) %>
				</div>
				<div class="social-media blue-bg link"><p>Link</p></div>
			</div>
		</div>
		<% if @quiz_type == "quiz" %>
			<%= render partial: "starter" %>
		<% end %>
		<div class="items">
			<% if @quiz_type != "list" %>
				<% @quiz.quiz_items.order(:order).each_with_index do |item, i| %>
					<%= render partial: "quiz_items/show", locals: {item: item, i: i} %>
				<% end %>
			<% else %>
				<% @items.each_with_index do |item, i| %>
					<%= render partial: "quiz_items/show", locals: {item: item, i: i + @offset_start} %>
				<% end %>
			<% end %>
		</div>
		<% if @quiz_type == "list" %>
			<div id="page-controls">
	 			<%= link_to params.permit(:page, :terms).merge(:page => @page - 1, terms: @terms) do %>
	 				<% if @page > 1 %>
	 					<div class="page-prev page-btn btn"><p>Previous</p></div>
	 				<% end %>
	 			<% end %>
	 			<p class="page-number">Page <%= @page %></p>
	 			<% if @page == ((@quiz.quiz_items.count / 5.0).ceil) %>
	 				<%= link_to quiz_path(random_quiz) do %>
		 				<div class="page-next page-btn btn list-next"><p>Next List</p></div>
		 			<% end %>
	 			<% else %>
		 			<%= link_to params.permit(:page, :terms).merge(:page => @page + 1, terms: @terms) do %>
		 				<div class="page-next page-btn btn"><p>Next</p></div>
		 			<% end %>
		 		<% end %>
	 		</div>
	 	<% end %>
		<% if !@quiz.results.empty? %>
			<% @quiz.results.order(:id).each do |result| %>
				<div class="result" range-min="<%= result.range_min %>" range-max="<%= result.range_max %>" result-id="<%= result.id %>">
					<p class="score <%= @quiz.quiz_type %>"><span class="score-number"></span> CORRECT</p>
					<p><%= result.result_text %></p>
					<% if result.image.present? %>
						<%= image_tag result.image_url(:item), :class => "result-image" %>
					<% end %>
					<p class="result-social-message">Share your Result!</p>
					<div class="social-medias">
						<div class="social-media fb-blue-bg fb"><%= image_tag "fb.svg" %></div>
						<div class="social-media tw-blue-bg tw"><%= image_tag "twitter.svg" %></div>
						<a href="https://www.pinterest.com/pin/create/button/" data-pin-custom="true" data-pin-media="<%= @quiz.image_url%>" data-pin-description="<%= @quiz.title %>" data-pin-url="<%= quiz_url(@quiz) %>" class="social-media pinterest-red-bg pinterest">
							<%= image_tag "pinterest.svg" %>
						</a>
						<div class="link-box">
							<%= text_field_tag :link, quiz_url(@quiz) %>
						</div>
						<div class="social-media blue-bg link"><p>Link</p></div>
					</div>
				</div>
			<% end %>
		<% else %>
			<div class="result sharer">
				<p class="result-social-message">Share this <%= @quiz.quiz_type.capitalize %></p>
				<div class="social-medias">
					<div class="social-media fb-blue-bg fb"><%= image_tag "fb.svg" %></div>
					<div class="social-media tw-blue-bg tw"><%= image_tag "twitter.svg" %></div>
					<a href="https://www.pinterest.com/pin/create/button/" data-pin-custom="true" data-pin-media="<%= @quiz.image_url%>" data-pin-description="<%= @quiz.title %>" data-pin-url="<%= quiz_url(@quiz) %>" class="social-media pinterest-red-bg pinterest" target="_blank">
						<%= image_tag "pinterest.svg" %>
					</a>
					<div class="link-box">
						<%= text_field_tag :link, quiz_url(@quiz) %>
					</div>
					<div class="social-media blue-bg link"><p>Link</p></div>
				</div>
			</div>
		<% end %>
		<div class="bottom-ads">
			<%= render partial: "ads/small" %>
		</div>
	</div>
	<div class="side-content">
		<div id="ad-1" class="side-ad">
			<%= render partial: "ads/col_tall_1" %>
		</div>
		<div class="divider" id="divider-1"></div>
		<div class="recommendations">
			<h3>Recommended</h3>
			<% @quiz.recommended.each do |rec| %>
				<%= link_to quiz_path(rec) do %>
					<div class="side-quiz">
						<div class="img" style="background-image: url(<%= image_url(rec.image_url(:square)) %>)"></div>
						<p><%= rec.title %></p>
					</div>
				<% end %>	
			<% end %>
		</div>
		<div class="divider" id="divider-2"></div>
		<div id="ad-2" class="side-ad">
			<%= render partial: "ads/col_tall_2" %>
		</div>
	</div>
</div>


<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '919320708203651',
      xfbml      : true,
      version    : 'v2.8'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>

<script>
// (function(o,q,c){var s=function(h){var e=c.pinit,m="?",a,i,f,b;f=[];b=[];var j={},g=o.createElement("IFRAME"),r=h.getAttribute(c.att.count)||false,n=h.getAttribute(c.att.layout)||"horizontal";if(q.location.protocol==="https:")e=c.pinit_secure;f=h.href.split("?")[1].split("#")[0].split("&");a=0;for(i=f.length;a<i;a+=1){b=f[a].split("=");j[b[0]]=b[1]}a=f=0;for(i=c.vars.req.length;a<i;a+=1){b=c.vars.req[a];if(j[b]){e=e+m+b+"="+j[b];m="&"}f+=1}if(j.media&&j.media.indexOf("http")!==0)f=0;if(f===i){a=0;
// for(i=c.vars.opt.length;a<i;a+=1){b=c.vars.opt[a];if(j[b])e=e+m+b+"="+j[b]}e=e+"&layout="+n;if(r!==false)e+="&count=1";g.setAttribute("src",e);g.setAttribute("scrolling","no");g.allowTransparency=true;g.frameBorder=0;g.style.border="none";g.style.width=c.layout[n].width+"px";g.style.height=c.layout[n].height+"px";h.parentNode.replaceChild(g,h)}else h.parentNode.removeChild(h)},p=o.getElementsByTagName("A"),l,d,k=[];d=0;for(l=p.length;d<l;d+=1)k.push(p[d]);d=0;for(l=k.length;d<l;d+=1)k[d].href&&k[d].href.indexOf(c.button)!==
// -1&&s(k[d])})(document,window,{att:{layout:"count-layout",count:"always-show-count"},pinit:"http://pinit-cdn.pinterest.com/pinit.html",pinit_secure:"https://assets.pinterest.com/pinit.html",button:"//pinterest.com/pin/create/button/?",vars:{req:["url","media"],opt:["title","description"]},layout:{none:{width:43,height:20},vertical:{width:43,height:58},horizontal:{width:90,height:20}}});
 </script>

<% if @quiz.is_preview? %>
	<script>
	  history.pushState({state:1}, "Preview", "/quiz-preview")
	</script>
<% end %>
