<div class="content-container">
	<%= image_tag @quiz.image %>
	<%= @quiz.attributes %>
	<br>
	<br>
	<% @quiz.quiz_items.each do |a| %>
		<%= a.attributes %>
		<br>
		<br>
		<% a.item_answers.each do |b| %>
			<%= b.attributes %>
			<br>
		<% end %>	
	<% end %>	
	<br>
	<% @quiz.results.each do |result| %>
		<%= result.attributes %>
	<% end %>

</div>
