<div class="content-container settings-container">
	<h1 id="settings-header" class="super-bold">ACCOUNT SETTINGS</h1>
	<%= form_for @user, html: {class: "user-settings-form"} do |f| %>
		<h2>Add Description</h2>
		<%= f.text_area :description, :class => "user-textarea-input btn", value: @user.description, placeholder: "Description" %>
		<h2>Change Email</h2>
		<%= f.email_field :email, :class => "user-text-input btn", value: @user.email, placeholder: "Email"  %>
		<% unless @user.is_facebook_user? %>
			<h2>Change Password</h2>
			<%= f.password_field :password, :class => "user-text-input btn", placeholder: "Current Password" %>
			<%= f.password_field :password, :class => "user-text-input btn", placeholder: "New Password" %>
			<%= f.password_field :password, :class => "user-text-input btn", placeholder: "Confirm New Password" %>
		<% end %>

		<%= f.submit "Save", :class => "btn", id: "submit-settings" %>
	<% end %>
</div>