<div class="content-container user-profile-container">
	<div id="user-info">
		<%= image_tag @user.profile_pic + "?type=large", id: "profile-pic" %>

		<h2 id="user-name"><%= @user.name %></h2>

		<p id="user-description"><%= @user.description %></p>

		<% if current_user == @user %>
			<%= link_to edit_user_path(@user), :class => "btn", id: "settings" do %>
				Settings
			<% end %>
		<% end %>
	</div>
	<div id="user-quizzes">
		<h1>My Stuff</h1>
		<p class="mobile-message">View this page in desktop mode to edit your quizzes!</p>
		<div class="sort-bar">
			<p>Sort by:</p>
			<p sort-name="pd">Publish Date</p>
			<p sort-name="n">Name</p>
			<p sort-name="cd">Creation Date</p>
		</div>
		<div class="quiz-list-container sortable">
			<% @user.quizzes.order(:publish_date).each do |quiz| %>
				<div class="quiz sort-item" publish_date="<%= quiz.publish_date.to_i %>" creation_date="<%= quiz.created_at.to_i %>">
					<div class="quiz-info">
						<div class="quiz-title"><%= quiz.title %></div>
						<div class="quiz-user">
							<%= image_tag quiz.user.profile_pic %>
							<p><%= quiz.user.name %></p>
						</div>
						<div class="quiz-sub-info">
							<p class="creation-date">Created on <%= quiz.created_at %></p>
							<p class="publish-date">Published on <%= quiz.publish_date %></p>
							<p class="quiz-type"><%= quiz.quiz_type.upcase %></p>
						</div>
						<div class="quiz-stats">
							<span>Stats:</span>
							<span>0 Views</span>
							<span>0% Completion Rate</span>
						</div>
					</div>
					<%= image_tag quiz.image_url, :class => "quiz-image" %>
					<div class="quiz-actions">
						<%= link_to edit_quiz_path(quiz) do %>
							<div class="edit-quiz btn">Edit</div>
						<% end %>
						<div class="delete-quiz btn">Delete</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
	
</div>

