
<h2 class="super-bold content-title">Edit Questions</h2>
<% questions.each_with_index do |question, i| %>
	<div class="form-box question">
		<%= hidden_field_tag "quiz_item_#{i + 1}[order]", question.order, :class => "item-order" %>
		<%= hidden_field_tag "quiz_item_#{i + 1}[remember_code]", question.remember_code, :class => "remember-code" %>
		<%= image_tag "up-arrow.svg", :class => "move-question move-up" %>
		<%= image_tag "down-arrow.svg", :class => "move-question move-down" %>
		<%= image_tag "close-box.svg", :class => "close-question closer" %>
		<h3 class=" question-number">Question <p><%= i + 1 %></p></h3>

		<div class="box-field">
			<label class="box-label">Question Image</label>
			<%= image_tag "close-box.svg", :class => "close-image closer" %>
			<div class="box-input question-image-input">Click to add image...</div>
			<%= file_field_tag "quiz_item_#{i + 1}[image]", :class => "question-image-input required" %>
			<img class="question-image-preview image-preview" src="<%= question.image_url %>" alt="preview failed to load" />
		</div>
		<div class="box-field">
			<label class="box-label">Question</label>
			<div class="char-countable">
				<p class="char-count single-row left">90</p>
					<%= text_field_tag "quiz_item_#{i + 1}[item_text]", question.item_text, :class => "box-input question-text", maxlength: 90 %>
			</div>
		</div>
		<div class="box-field">
			<label class="box-label">Image Credit</label>
			<%= text_field_tag "quiz_item_#{i + 1}[image_credit]", question.image_credit, :class => "box-input" %>
		</div>
		<div class="divider"></div>
		<h3 class="answer-header">Answers</h3>

		<%= render partial: "answers/edit", locals: {answer_type: quiz_type, answers: question.item_answers.order(:id), item_number: i + 1} %>
	</div>
<% end %>

<div id="add-question" class="btn">
Add Question
</div>