<h2 class="super-bold content-title">Add Results</h2>
<div class="form-box results-box">
	<div class="form-results show-add-result">
		<div class="form-result image-and-text-box">
			<%= image_tag "close-box.svg", :class => "close-result closer" %>
			<div class="char-countable">
				<p class="char-count">200</p>
				<%= text_area_tag "result_1[result_text]", nil, :class => "result-text-input required", placeholder: "Result text...", maxlength: 200 %>		
			</div>
				
			<div class="image-input">Click to add image...</div>
			<%= image_tag "close-box.svg", :class => "close-image closer" %>
			<%= file_field_tag "result_1[image]", :class => "result-image-input" %>
			<div class="result-image-preview image-preview" src="#" alt="preview failed to load"></div>
			<%= text_field_tag "result_1[image_credit]", nil, :class => "result-image-credit-input", placeholder: "Image Credit..." %>

			<% if result_type == "trivia" %>
				<div class="results-range">
					<%= hidden_field_tag "result_1[range_min]", 0, :class => "range-min" %>
					<%= hidden_field_tag "result_1[range_max]", 1, :class => "range-max" %>	
					<p>Results Range</p>
					<p> <span class="min">0</span><span class="hyphen">-</span><span class="max">1</span></p>
				</div>
			<% end %>
		</div>
		<div class="add-result" style="display: <%= @quiz_type == 'trivia' ? 'none' : nil  %>">
				<div class="btn">Add Result</div>
		</div>
	</div>	
</div>