<div class="form-answer image-and-text-box model" model_id="<%= answer.id %>">
	<%= hidden_field_tag "quiz_item_#{item_number}_item_answer_#{i}[remember_code]", answer.remember_code, :class => "remember-code" %>
	<%= image_tag "close-box.svg", :class => "close-answer closer" %>
	<div class="image-input input-overlay">Click to add image...</div>
	<%= image_tag "close-box.svg", :class => "close-image closer" %>
	<%= direct_upload_form_for image_uploader(ItemAnswer), html: {:class => "image-form answer-image-upload", model_id: answer.id, model_name: "ItemAnswer"} do |f| %>
		<%= f.file_field :image, :class => "answer-image-input" %>
	<% end %>
	<div class="answer-image-preview image-preview" style="background-image: url(<%= answer.image_url(:square) %>);" alt="preview failed to load" src="<%= answer.image_url || 'blank' %>">
		<div class="sk-wave">
		  <div class="sk-rect sk-rect1"></div>
		  <div class="sk-rect sk-rect2"></div>
		  <div class="sk-rect sk-rect3"></div>
		  <div class="sk-rect sk-rect4"></div>
		  <div class="sk-rect sk-rect5"></div>
		</div>
	</div>
	<%= text_area_tag "quiz_item_#{item_number}_item_answer_#{i}[answer_text]", answer.answer_text, :class => "answer-text-input required", placeholder: "Answer text..." %>
	<%= text_field_tag "quiz_item_#{item_number}_item_answer_#{i}[image_credit]", answer.image_credit, :class => "answer-image-credit-input", placeholder: "Image Credit..." %>

	<% if quiz_type == "trivia" %>
		<div class="checkbox-container">
			<%= check_box_tag "quiz_item_#{item_number}_item_answer_#{i}[correct?]", nil, answer.correct?, :class => "checkbox-input" %>
			<p>Correct</p>
		</div>
	<% else %>
		<%= select_tag "quiz_item_#{item_number}_item_answer_#{i}[result_id]", answer.html_options, required: true %>
	<% end %>
</div>