<div class="box-field">
	<label class="box-label">Answer Format</label>
	<div class="answer-format-selection">
		<%= image_tag "image-format.svg", :class => "image-format answer-format", format_type: "image" %>
		<%= image_tag "image-format-selected.svg", :class => "image-format selected answer-format", format_type: "image" %>
		<%= image_tag "text-format.svg", :class => "text-format answer-format", format_type: "text" %>
		<%= image_tag "text-format-selected.svg", :class => "text-format answer-format selected", format_type: "text" %>
	</div>
	<%= hidden_field_tag "quiz_item_1[answer_style]", "image", :class => "answer-format" %>
</div>

<div class="form-answers image-style">
	<div class="form-answer image-and-text-box">
		<%= image_tag "close-box.svg", :class => "close-answer closer" %>
		<div class="image-input">Click to add image...</div>
		<%= image_tag "close-box.svg", :class => "close-image closer" %>
		<%= file_field_tag "quiz_item_1_item_answer_1[image]", :class => "answer-image-input required" %>
		<div class="answer-image-preview image-preview" src="blank" alt="preview failed to load"></div>
		<%= text_area_tag "quiz_item_1_item_answer_1[answer_text]", nil, :class => "answer-text-input required", placeholder: "Answer text..." %>
		<%= text_field_tag "quiz_item_1_item_answer_1[image_credit]", nil, :class => "answer-image-credit-input", placeholder: "Image Credit..." %>

		<% if answer_type == "trivia" %>
			<div class="checkbox-container">
				<%= check_box_tag "quiz_item_1_item_answer_1[correct?]", nil, false, :class => "checkbox-input" %>
				<p>Correct</p>
			</div>
		<% else %>
			<%= select_tag "quiz_item_1_item_answer_1[result_id]", "<option disabled='disabled' selected='selected' value='-1'>Assign a Result</option><option value='0' class='result-1'>Result 1</option>".html_safe, required: true %>
		<% end %>
	</div>
	<div class="add-answer">
		<%= image_tag "add-answer.svg", :class => "add-answer-btn" %>
		<p>Add Answer</p>
	</div>
</div>

