<div class="content-container main-container no-banner">
	<h1 class="page-title">SEARCH RESULTS FOR "<%= @terms %>"</h1>
	<div class="quizzes-content">
	 	<div id="main-content">
		 	

		 	<div class="quizzes-section list-view">
		 		<% if @results == [] %>
			 		<p id="no-results">No Results were found for "<%= @terms %>"</p>
			 	<% end %>
		 		<% @results.each do |quiz| %>
		 			<%= link_to quiz_path(quiz) do %>
			 			<div class="quiz-list-item">
			 				<div class="quiz-image img" style="background-image: url(<%=(quiz.image_url) %>)"></div>
			 				<div class="quiz-info">
			 					<div class="quiz-title"><%= quiz.title %></div>
			 					<div class="quiz-sub-info">
			 						<div class="quiz-user">
			 							<%= image_tag profile_pic(quiz.user) %>
			 							<p><%= quiz.user.name %></p>
			 						</div>
			 						<div class="quiz-type"><%= quiz.quiz_type.upcase %></div>
			 					</div>
			 				</div>
			 			</div>
			 		<% end %>
		 		<% end %>
		 		<div id="page-controls">
		 			<%= link_to params.permit(:page, :terms).merge(:page => @page - 1, terms: @terms) do %>
		 				<% if @page > 1 %>
		 					<div class="page-prev page-btn btn"><p>Previous</p></div>
		 				<% end %>
		 			<% end %>
		 			<p class="page-number">Page <%= @page %></p>
		 			<%= link_to params.permit(:page, :terms).merge(:page => @page + 1, terms: @terms) do %>
		 				<% unless @last_page %>
		 					<div class="page-next page-btn btn"><p>Next</p></div>
		 				<% end %>
		 			<% end %>
		 		</div>
		 		<div class="bottom-ads">
					<%= render partial: "ads/outbrain_bottom" %>
				</div>
		 		<div id="bottom-ad">
		 			<%= render partial: "ads/row" %>
		 		</div>
		 	</div>
		 	<div class="side-content">
				<div id="ad1" class="side-ad">
					<%= render partial: "ads/col_tall_1" %>
				</div>
				<div id="ad2" class="side-ad">
					<%= render partial: "ads/outbrain_column" %>
				</div>
			</div>
		 </div>
	 </div>
</div>


<script>
  $('#search_terms').val("<%= @terms %>")
  history.pushState({state:1}, "State 1", "?terms=<%= @terms %>&page=<%= @page %>")
  $('.quiz-title').each(function() {
    $(this).html($(this).html().replace(/(<%= @terms %>)/gi, "<span class='highlighted'>$1</span>"))
  })
</script>