<header>
	<%= image_tag 'navbar/mobile-search.svg', id: "search-icon" %>
	<div id="navbar-links">
		<%= link_to root_path, id: "logo" do %>
			<%= image_tag 'logo.svg' %>
		<% end %>
		<%= link_to trending_path do %>
			<div>Trending</div>
		<% end %>
		<div class="fun-dropdown-trigger">Fun <%= image_tag "navbar/arrow-fun.svg", :class => "dropdown-arrow" %></div>
		<div class="fun-dropdown dropdown">
			<%= link_to '/browse/quiz' do %>
				Quiz
			<% end %>
			<%= link_to '/browse/list' do %>
				List
			<% end %>
			<%= link_to '/browse/flipcard' do %>
				Flipcard
			<% end %>
			<%= link_to '/browse/trivia' do %>
				Trivia
			<% end %>	
		</div>

		<%= form_tag '/searches' do %>
			<%= text_field_tag :terms, nil, :class => "search-input", placeholder: "Search" %>
		<% end %>
	</div>
	<%= image_tag 'navbar/mobile-menu.svg', id: 'menu-icon' %>

	<div id='navbar-actions'>
		<div class="bridge"></div>
		<% if signed_out? %>
			<%= link_to login_path do %>
				<div class="signinup">Sign In</div>
			<% end %>
		<% else %>
			<%= link_to user_path(current_user), id: "nav-profile-pic" do %>
				<%= image_tag profile_pic(current_user) %>
			<% end %>
			<div id="profile-dropdown" class="dropdown">
				<%= link_to user_path(current_user) do %>
					<li>Profile</li>
				<% end %>
				<%= link_to edit_user_path(current_user) do %>
					<li>Account Settings</li>
				<% end %>
				<div class="divider"></div>
				<%= link_to '/signout' do %>
					<li>Sign Out</li>
				<% end %>
			</div>
		<% end %>

			<div id="create-btn">Create <%= image_tag "navbar/arrow-create.svg", :class => "dropdown-arrow" %></div>
			<div class="dropdown creation-dropdown">
				<%= link_to new_quiz_quiz_path do %>
					<div class="creation">
						<p>Quiz</p>	
						<div class="plus-btn">
							<%= image_tag "add-answer-plus.svg", :class => "svg" %>
						</div>
					</div>
				<% end %>
				<%= link_to new_list_path do %>
					<div class="creation">
						<p>List</p>
						<div class="plus-btn">
							<%= image_tag "add-answer-plus.svg", :class => "svg" %>
						</div>
					</div>
				<% end %>
				<%= link_to new_flipcard_path do %>
					<div class="creation">
						<p>Flip Card</p>	
						<div class="plus-btn">
							<%= image_tag "add-answer-plus.svg", :class => "svg" %>
						</div>
					</div>
				<% end %>
				<%= link_to new_trivia_path do %>
					<div class="creation">
						<p>Trivia</p>
						<div class="plus-btn">
							<%= image_tag "add-answer-plus.svg", :class => "svg" %>
						</div>
					</div>
				<% end %>	
			</div>
	</div>
	
	<div id="nav-dropdown">
		<div class="dropdown-content">
			<%= image_tag 'close-x.svg', id: 'close-dropdown' %>
			<% if signed_out? %>
			<%= link_to login_path do %>
				<li class="bold signinup">Sign In/Up</li>
			<% end %>
			<% end %>
			<%= link_to root_path do %>
				<li class="bold">Home</li>
			<% end %>
			<%= link_to trending_path do %>
				<li class="bold no-outline">Trending</li>
			<% end %>
			<li class="list-header">Categories</li>
			<div class="nav-categories">
				<%= link_to '/browse/quiz' do %>
					<li>Quizzes</li>
				<% end %>
				<%= link_to '/browse/list' do %>
					<li>List</li>
				<% end %>
				<%= link_to '/browse/flipcard' do %>
					<li>Flip Cards</li>
				<% end %>
				<%= link_to '/browse/trivia', :class => "no-outline" do %>
					<li>Trivia</li>
				<% end %>
			</div>
		</div>
	</div>
</header>
