<header>
	<%= image_tag 'navbar/mobile-search', id: "search-icon" %>
	<div id="navbar-links">
		<%= image_tag 'logo.svg', id: "logo" %>
		<div>Trending</div>
		<div>Fun <%= image_tag "navbar/arrow-fun.svg", :class => "dropdown-arrow" %></div>
		<%= text_field_tag :search, nil, :class => "search-input", placeholder: "Search" %>
	</div>
	<%= image_tag 'navbar/mobile-menu', id: 'menu-icon' %>

	<div id='navbar-actions'>
		<%= link_to login_path do %>
			<div class="signinup">Sign In</div>
		<% end %>
		<div id="create-btn">Create <%= image_tag "navbar/arrow-create.svg", :class => "dropdown-arrow" %></div>
	</div>
	
	


	<div id="nav-dropdown">
		<div class="dropdown-content">
			<%= image_tag 'close-x.svg', id: 'close-dropdown' %>
			<% if signed_out? %>
				<li class="bold signinup">Sign In/Up</li>
			<% end %>
			<li class="bold">Home</li>
			<li class="bold no-outline">Trending</li>
			<li class="list-header">Categories</li>
			<div class="nav-categories">
				<li>Trivia</li>
				<li>Quizzes</li>
				<li>Flip Cards</li>
				<li class="no-outline">Lists</li>
			</div>
		</div>
	</div>
</header>