<header>
	<%= image_tag 'navbar/mobile-search', id: "search-icon" %>
	<div id="navbar-links">
		<%= link_to root_path, id: "logo" do %>
			<%= image_tag 'logo.svg' %>
		<% end %>
		<div>Trending</div>
		<div>Fun <%= image_tag "navbar/arrow-fun.svg", :class => "dropdown-arrow" %></div>
		<%= text_field_tag :search, nil, :class => "search-input", placeholder: "Search" %>
	</div>
	<%= image_tag 'navbar/mobile-menu', id: 'menu-icon' %>

	<div id='navbar-actions'>
		<% if signed_out? %>
			<%= link_to login_path do %>
				<div class="signinup">Sign In</div>
			<% end %>
		<% else %>
			<%= link_to user_path(current_user), id: "nav-profile-pic" do %>
				<%= image_tag current_user.profile_pic %>
			<% end %>
			<div id="profile-dropdown">
				<%= link_to user_path(current_user) do %>
					<li>Profile</li>
				<% end %>
				<%= link_to edit_user_path(current_user) do %>
					<li>Account Settings</li>
				<% end %>
				<div class="divider"></div>
				<%= link_to '/signout' do %>
					<li>Sign Out</li>
				<% end %>
			</div>
		<% end %>
		<%= link_to new_quiz_path do %>
			<div id="create-btn">Create <%= image_tag "navbar/arrow-create.svg", :class => "dropdown-arrow" %></div>
		<% end %>
	</div>
	
	


	<div id="nav-dropdown">
		<div class="dropdown-content">
			<%= image_tag 'close-x.svg', id: 'close-dropdown' %>
			<% if signed_out? %>
				<li class="bold signinup">Sign In/Up</li>
			<% end %>
			<li class="bold">Home</li>
			<li class="bold no-outline">Trending</li>
			<li class="list-header">Categories</li>
			<div class="nav-categories">
				<li>Trivia</li>
				<li>Quizzes</li>
				<li>Flip Cards</li>
				<li class="no-outline">Lists</li>
			</div>
		</div>
	</div>
</header>